body {
  background: var(--color-primary);
}

@import "./normalize.css";
:root {
  --color-primary: #dcd5e5;
  --color-secondary: #5e1579;
  --color-accent: #b25286;
  --color-headings: #2e8b93;
  --color-box: #a174d9;
  --color-text-2: #332b89;
  --color-body-darker: ;
  --color-border: #ccc;
  --border-radius: 30px;
}

/* Typography */

::selection {
  background: var(--color-primary);
}

html {
  font-size: 60.5%;
}

img {
  width: 100%;
}

body {
  font-family: Simplifica, Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--color-body);
}
.bk {
  background: url(../Images/desksetup5.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}

.bk--2 {
  background: url(../Images/deskSetup.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}
.bk--3 {
  background: url(../Images/ux_ui2.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}

.bk--4 {
  background: url(../Images/pexels-aleksandar-pasaric-3342739.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}

p {
  color: #f9438a;
  margin-top: 20%;
  margin-right: 10px;
  margin-left: 5rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    margin: 0%;
    margin-left: 0;
    margin-left: 10px;
    margin-bottom: 15rem;
    font-size: 5rem;
    display: flex;
  }

  h2 {
    font-size: 3rem;
    margin: left -30px;
  }
  h3 {
    text-decoration: underline;
    color: #fff;
    font-size: 2 rem;
    padding: 0%;
    margin-left: 0%;
  }
}

@media screen and (min-width: 375px) {
  h1 {
    display: flex;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  cursor: pointer;
  right: 90px;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  color: var(--color-secondary);
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-headings);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */

.btn {
  display: block;
  position: relative;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 25rem;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  width: rem;
  height: rem;
  background: var(--color-secondary);
  color: #fff;
}

.btn--primary:hover {
  background: #7d42db;
}

.btn--secondary {
  background: var(--color-headings);
  color: #fff;
}

.btn--secondary:hover {
  background: #7d42db;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Media */

.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 1.5rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */

.testimonial {
  padding: 3rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
}

.testimonial__image {
  position: relative;
  margin: 0 3rem;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial__image {
    margin: 0;
  }
  .testimonial .quote {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
}

/* Callouts */

.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Blocks */

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  font-size: large;
  color: var(--color-headings);
  margin-top: 0;
}

.block__heading-2 {
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--color-primary);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.block--dark {
  border: solid var(--color-headings);
  background: var(--color-headings);
  color: #7b858b;
}

.block--light {
  background: var(--color-primary);
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar */

.nav {
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  font-weight: bold;
}

.nav__list {
  float: right;
  width: 100%;
  margin: 0;
}

.nav__item {
  color: var(--color-primary);
  font-size: large;
  letter-spacing: 1px;
  margin-right: -21px;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
  font-weight: bold;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-accent);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
  width: 150px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Hero */

.hero__tagline {
  font-size: 2rem;
  line-height: 15px;
  color: var(--color-headings);
  font-weight: bold;
  letter-spacing: 1px;
  margin: top -30rem;
}
.hero__tagline-2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  letter-spacing: 1px;
  margin: 1rem 0 5rem;
  width: 75%;
}

@media screen and (min-width: 768px) {
  .hero__tagline-2 {
    width: 75%;
  }
}

@media screen and (min-width: 375px) {
  .hero__tagline-2 {
    width: 75%;
    text-align: center;
  }

  @media screen and (min-width: 320px) {
    .hero__tagline-2 {
      width: 75%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
  }
}

/* Domain Block */

.block-domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem auto;
  max-width: 670px;
}

.block-domain__prices {
  color: var(--color-headings);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans Block */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features */

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase Block */

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }
  .block-showcase__image {
    justify-self: end;
  }
  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}

/* Footer */

.footer {
  background: #232323;
  padding-top: 10rem;
}

.footer a {
  color: #777;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--color-accent);
}

.footer__section {
  padding: 2rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #393939;
}

.footer__section .list {
  margin: 0;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
  .footer__section {
    border: 0;
  }
  .footer__heading {
    font-size: 1.6rem;
  }
}

/* Sign-up Callout */

.callout-signup {
  transform: translateY(5rem);
}

/*Tests */

container {
  margin: 150px auto;
  width: 50%;
  padding: 100px;
}

img .sidebar {
  float: left;
  width: 300px;
  height: 260px;
  padding: 0 10px 0 10px;
}

.text {
  padding: -6rem;
  font-family: Inter;
  font-size: x-large;
  color: var(--color-secondary);
  font-weight: bold;
  float: right;
  margin: 2rem;
}

.icon--logo {
  padding-top: 0%;
  padding-right: 0%;
  display: flex;
  margin-top: 10%;
  margin-bottom: 1%;
  margin-left: -80px;
  float: left;
  width: 300px;
  height: 300px;
}

.icon--sidebar {
  width: 500px;
  height: 500px;
}

.icon--pic {
  display: flex;
  padding-left: 5px;
  margin-top: 4%;
  margin-bottom: 45;
  float: left;
  width: 100%;
  height: 300px;
}

.right {
  float: left;
  width: 300px;
}

.left {
  float: right;
  width: 300px;
}

/* Left Icons*/
img .sidebar.left {
  float: right;
  width: 300px;
  height: 300px;
}

.text-left {
  display: inline-block;
  padding: 3rem;
  font-family: Inter;
  font-size: x-large;
  text-align: center;
  color: var(--color-secondary);
  font-weight: bold;
  padding-top: 20px;
  margin-left: 20px;
}

.icon--logo-left {
  padding-top: 0%;
  display: flex;
  padding-top: 0%;
  margin-left: -80px;
  float: right;
  width: 100%;
  height: 100%;
}

.icon--sidebar--left {
  width: 500px;
  height: 500px;
}

.icon--pic--left {
  text-align: justify;
  padding-right: 10px;
  padding-bottom: 20px;
  display: flex;
  padding-left: 10px;
  margin-right: 10px;
  float: right;
  width: 200px;
  height: 200px;
}

.room {
  margin-top: 7%;
}
.room2 {
  margin-top: 3%;
}

body [data-aos-duration="4000"] [data-aos],
[data-aos][data-aos][data-aos-duration="4000"] {
  transition-duration: 4000ms;
}

.landing {
  background-color: var(--color-primary);
  border: solid var(--color-primary);
  position: relative;
  display: block;
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.landing--2 {
  border: none;
  position: relative;
  display: block;
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.landing:hover {
  transform: scale(1.1);
}

.logofoot:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero__image {
  height: 500px;
  width: 375px;
  margin-top: 30px;
  margin-left: 15px;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}
@media screen and (min-width: 765px) {
  .hero__image {
    width: 75%;
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .hero__image {
    width: 75%;
    display: flex;
  }
}

@media screen and (min-width: 375px) {
  .hero__image {
    width: 75%;
    height: auto;
    display: flex;
  }
}
@media screen and (min-width: 320px) {
  .hero__image {
    width: 75%;
    height: auto;
    display: flex;
  }
}
.hero__image-2 {
  height: 500px;
  width: 375px;
  margin-left: -20px;
  margin-top: 30px;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  border: solid var(--color-accent) 2px;
}

.hero__image-2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (min-width: 480px) {
  .hero__image-2 {
    width: 75%;
    display: flex;
  }
}

@media screen and (min-width: 375px) {
  .hero__image-2 {
    width: 75%;
    height: auto;
    display: flex;
  }
}
@media screen and (min-width: 320px) {
  .hero__image-2 {
    width: 75%;
    height: auto;
    display: flex;
  }
}
